/*
***
*** PLAYER TV CSS
*** @jacencor
*** 
*/

/* ROOT FONT STYLES */
* {
    font-family: monospace, system-ui, sans-serif;
}

:root {
    --main-pading: 0.25rem;
    --body-pading: 1rem;
    --bs-body-bg: #212529;
    --bs-border-color: #495057;
}

/* BODY */
body {
    background: var(--bs-body-bg);
    margin: 0;
    overflow: hidden;
}

/* MODAL */
.modal-channel {
    position: absolute;
    padding-top: 2rem;
}

.modal-info {
    background-color: var(--bs-body-bg);
    color: var(--bs-border-color);
    opacity: 0.8;
    padding: 0.25em;
}

.hide {
    animation: hideAnimation 0s ease-in 4s;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

/* VIDEO ELEMENTS */
#playerSTV {
    width: 100%;
    height: 100%;
}

video {
    width: 100% !important;
    height: 100% !important;
}

video[poster] {
    aspect-ratio: 16 / 9;
}

iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}